#map {
        height: 60%;
        width : 90%; 
        display: -moz-inline-stack;
        display: inline-block;
        zoom: 1;
        *display: inline;
        margin-left: 5%;
        
      }
.ag-row-editing {
        background-color: #5bc0de !important;
    }
   
.table td, .table th {
   text-align: center;
   width: 25%;  
}      